/* TicketingHub button base style */
.th-widget button,
.th-widget a {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Raleway', 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 600;
    /* semi-bold */
    letter-spacing: 2.3px;

    padding: 16px 32px;
   
    border: none;
    border-radius: 0;
    

    cursor: pointer;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.2s ease;
}

/* Hover state */
.th-widget button:hover,
.th-widget a:hover {
    background-color: #F17E92;
    color: #ffffff;
    transform: scale(1.04);
}
